.main-footer {
    display: grid;
    color: rgb(220, 178, 9);
    background-color: #272624;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
   
    position: relative;
    

}

a:link {
    text-decoration: none;
    color: rgb(220, 178, 9);
}

a:visited {
    text-decoration: none;
    color: rgb(220, 178, 9);
}

a:hover {
    text-decoration: none;
    color: rgb(220, 178, 9);
}

a:active {
    text-decoration: none;
    color: rgb(220, 178, 9);
}